<html>
<head>
<script src="js/script.js" charset="utf-8"></script>
<link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="css/foundation.css" />
  <script src="js/vendor/modernizr.js"></script>
  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script src="js/handlebars-v3.0.0.js"></script>
  <script src="js/foundation/foundation.reveal.js"></script>
  <script src="bower_components/angular/angular.js" charset="utf-8"></script>
  <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<script>tinymce.init({selector:'textarea',statusbar:false,menubar : false});</script>

</head>


<body ng-app="jill">

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Jill</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Carl Saldanha</a>
        <ul class="dropdown">
        <li><a href="#">My Library</a></li>        
          <li><a href="#">Settings</a></li>
          <li><a href="#">Logout</a></li>
          
        </ul>
      </li>
    </ul>

  </section>
</nav>
<br />

<div ng-controller='MainController'>
<div class='row' >
  <button class='small askjillbutton' ng-click="searchfunction()">Ask Jill</button>   
<button class='small'>History</button>
</div>
<div class='row'>
<div class='large-8 medium-9 small-12 columns' style="box-shadow:-1px 0px 10px #8d8d8d ">
	<div class='row' style="">
	<textarea rows=30 cols=300></textarea>
	</div>

</div>
<div class='large-4 medium-2 small-12 columns'>
	<div class='box panel'  ng-repeat="paper in papers">
		<span style='text-decoration:underline;font-weight:600'>{{paper.title}} <i ng-repeat="author in paper.author">{{author}}, </i></span>
		<p style="font-size:0.8em">	{{paper.description}}</p>
	</div>
</div>
</div>

<div id="ask_jill_modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="false" role="list"/>
	<h2>Search for: "{{search}}"</h2>
	<div ng-show="searchmodal" ng-repeat="answer in answers">
  	<div class='box panel' ng-click="clickOnPaper($index)">
    	<span style='text-decoration:underline;font-weight:600'>{{answer.title}} <i ng-repeat="author in answer.author">{{author}}, </i></span>
    	<p style="font-size:0.8em"> {{answer.description}}</p>
    </div>
  </div>
  
  <div ng-hide="searchmodal">
  <a href="#" ng-click="back()">Back</a>
  <h2>THWG</h2>
  <b>{{information.title}}</b>{{information.description}}
  </div>
</div>
		</div>
</body>
</html>
<script type='text/javascript'>
$( document ).ready(function() {

	$(document).foundation();	
	var library=new Array();
	

	//$('#ask_jill_modal').css("visibility", "visible");
	//$('#ask_jill_modal').css("display", "block");
	function populateLibrary(){

	}

	function addToLibrary(){

	}

context = {
  nav: [
    { url: "http://www.yehudakatz.com", title: "Katz Got Your Tongue" },
    { url: "http://www.sproutcore.com/block", title: "SproutCore Blog" },
  ]
}
	function askJill(){
		
		// the items in the list will be the ones returned from the json
		Handlebars.registerHelper('list', function(context, options) {
    var ret = "<ul>";
    for(var i=0, j=context.length; i<j; i++) {
    ret = ret + "<li>" + options.fn(context[i]) + "</li>";
    }
    return ret + "</ul>";
  });
}

	$('.askjillbutton').click(askJill);
});


</script>
	
<script type="text/javascript">

var app=angular.module("jill",[]);
app.controller('MainController',  function($scope,$http) {

	var papers=[{"author":["Goel","Darbus"],"title":"Paper 1","link":"facebook.com","description":"This is the description"},
							{"author":["Goel"],"title":"Paper 2","link":"facebook.com","description":"This is the second description"}];

	var responsePromise = $http.post({
    method: 'POST',
    url: "http://localhost:8000/api/question",
    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
    transformRequest: function(obj) {
        var str = [];
        for(var p in obj)
        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
        return str.join("&");
    },
    data: {email:'cjds@live.com','from_project_id':'1','question_text':'What is your name'}
	});

	responsePromise.success(function(data, status, headers, config) {
	    alert(data);
	});
	responsePromise.error(function(data, status, headers, config) {
	    alert("AJAX failed!");
	});

	$scope.papers=papers;
	//Ask Jill
 	$scope.searchfunction=function(){
		$scope.search=tinyMCE.activeEditor.selection.getContent();
		$('#ask_jill_modal').foundation('reveal', 'open');
		$scope.searchmodal=true;
		$scope.answers=papers;
	}

	$scope.clickOnPaper=function(i){
		$scope.searchmodal=false; // switching to the details
		$scope.information=papers[i];
	}

	$scope.back=function(){
		$scope.searchmodal=true;
	}
 });

</script>
