{% load staticfiles %}

<html>
<head>
<script src="{% static "js/script.js"%}" charset="utf-8"></script>
<link rel="stylesheet" href="{% static "css/main.css"%}" />
  <link rel="stylesheet" href="{% static "css/foundation.css"%}" />
  <script src="{% static "js/vendor/modernizr.js" %}"></script>
  <script src="{% static "js/vendor/jquery.js"%}"></script>
  <script src="{% static "js/foundation.min.js"%}"></script>
  <script src="{% static "js/handlebars-v3.0.0.js"%}"></script>
  <script src="{% static "js/foundation/foundation.reveal.js"%}"></script>
  <script src="{% static "bower_components/angular/angular.js"%}" charset="utf-8"></script>
  <script src="http://tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<script>tinymce.init({selector:'textarea',statusbar:false,menubar : false});</script>

</head>

{% verbatim %}
<body ng-app="jill">

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Jill</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Jill</a>
        <ul class="dropdown">
        <li><a href="#">My Library</a></li>        
          <li><a href="#">Settings</a></li>
          <li><a href="login">Logout</a></li>
          
        </ul>
      </li>
    </ul>

  </section>
</nav>
<br />

<div ng-controller='MainController'>
<div class='row' >
  <button class='small askjillbutton' ng-click="searchfunction()">Ask Jill</button>   
<button class='small'>History</button>
</div>
<div class='row'>
<div class='large-8 medium-9 small-12 columns' style="box-shadow:-1px 0px 10px #8d8d8d ">
	<div class='row' style="">
	<textarea rows=30 cols=300></textarea>
	</div>

</div>
<div class='large-4 medium-2 small-12 columns'>
	<div class='box panel'  ng-repeat="paper in references">
		<span style='text-decoration:underline;font-weight:600'>{{paper.paper_title| limitTo:numLimit}} <i ng-repeat="author in paper.author">{{author}}, </i></span>
		<p style="font-size:0.8em">	{{paper.evidence_text| limitTo:numLimit }}</p>
    <a href="#" ng-click="deleteReference($index)">Delete</a>
	</div>
</div>
</div>

<div id="ask_jill_modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="false" role="list"/>
	<h2>Search for: "{{search}}"</h2>
	<div ng-show="searchmodal" ng-repeat="answer in answers">
  	<div class='box panel' ng-click="clickOnPaper($index)">
    	<span style='text-decoration:underline;font-weight:600'>{{answer.paper_title}} <i ng-repeat="author in answer.author">{{author}}, </i></span>
    	<p style="font-size:0.8em"> {{answer.evidence_text| limitTo:numLimit }}</p>
    </div>
  </div>
  
  <div ng-hide="searchmodal">
  <a href="#" ng-click="back()" class='button'>Back</a>
  <h4>{{information.paper_title}}</h4>
  <p>{{information.evidence_text}}</p>
	<a href="#" ng-click="addToReferences(information.index)">Add To List</a> | <a target="_blank" href="{{information.trimmed_document}}">Link to paper</a>
  </div>
</div>
		</div>
</body>
</html>
{% endverbatim %}
<script type='text/javascript'>
$( document ).ready(function() {

	$(document).foundation();	
	var library=new Array();
	

	//$('#ask_jill_modal').css("visibility", "visible");
	//$('#ask_jill_modal').css("display", "block");
	function populateLibrary(){

	}

	function addToLibrary(){

	}

context = {
  nav: [
    { url: "http://www.yehudakatz.com", title: "Katz Got Your Tongue" },
    { url: "http://www.sproutcore.com/block", title: "SproutCore Blog" },
  ]
}
	function askJill(){
		
		// the items in the list will be the ones returned from the json
		Handlebars.registerHelper('list', function(context, options) {
      var ret = "<ul>";
      for(var i=0, j=context.length; i<j; i++) {
        ret = ret + "<li>" + options.fn(context[i]) + "</li>";
      }
      return ret + "</ul>";
    });
}

	$('.askjillbutton').click(askJill);
});


</script>
	
<script type="text/javascript">

var app=angular.module("jill",[]);
app.controller('MainController',  function($scope,$http) {

  $scope.references=[];
  $scope.numLimit=100;
  $scope.project_id={{project_id}};
  $scope.question_id=-1;
  updateReferences();

  function returnAnAnswer(email,project_id,question_text){
    var responsePromise = $http({
      method: 'post',
      url: "{% url 'question' %}",
      headers: {'Content-Type':  "application/x-www-form-urlencoded; charset=utf-8"},    
      data: $.param({email:email,from_project_id:project_id,question_text:question_text}),
    });

    responsePromise.success(function(data, status, headers, config)  {
      $scope.answers=data.evidences;
      console.log($scope.answers);
      $scope.question_id=data.question_id;
    });
    responsePromise.error(function(data, status, headers, config) {
      // alert("AJAX failed!");
    });

  }

  function updateReferences(){
      $http({
        method: 'get',
        url: "{% url 'getreference' project_id %}",
        headers: {'Content-Type':  "application/x-www-form-urlencoded; charset=utf-8"},    
        data:$.param({project_id:$scope.project_id,})
      }).success(function(data, status, headers, config)  {
        if(data.hasOwnProperty("success"))
          $scope.references=[];
        else
          $scope.references=data;
        console.log(data);
      })
      .error(function(data, status, headers, config) {
        // alert("AJAX failed!");
      });
  }

  $scope.deleteReference=function(index){
    var responsePromise = $http({
      method: 'post',
      url: "{% url 'delete_reference' %}",
      headers: {'Content-Type':  "application/x-www-form-urlencoded; charset=utf-8"},    
      data: $.param({
          reference_id:$scope.references[index].paper_id,
          post_type:'DELETE',
          project_id:$scope.project_id
    })
    });

    responsePromise.success(function(data, status, headers, config)  {
          updateReferences();
    });

    responsePromise.error(function(data, status, headers, config) {
      // alert("AJAX failed!");
    });
  }

  $scope.addToReferences=function(i){
    $('#ask_jill_modal').foundation('reveal', 'close');
    var responsePromise = $http({
      method: 'post',
      url: "{% url 'reference' %}",
      headers: {'Content-Type':  "application/x-www-form-urlencoded; charset=utf-8"},    
      data: $.param({
          evidence_text:$scope.answers[i].evidence_text,
          paper_title:$scope.answers[i].paper_title,
          paper_author:'',
          paper_link:$scope.answers[i].paper_link,
          project_id:$scope.project_id,
          question_id:$scope.question_id})
    });

    responsePromise.success(function(data, status, headers, config)  {
          updateReferences();
    });

    responsePromise.error(function(data, status, headers, config) {
      // alert("AJAX failed!");
    });

  }

	//$scope.papers=papers;
	//Ask Jill
 	$scope.searchfunction=function(){
		$scope.search=tinyMCE.activeEditor.selection.getContent();
		$('#ask_jill_modal').foundation('reveal', 'open');
		$scope.searchmodal=true;
    $scope.answers=[];
    returnAnAnswer('cjds@live.com',$scope.project_id,$scope.search);
	}

	$scope.clickOnPaper=function(i){
		$scope.searchmodal=false; // switching to the details
    
		$scope.information=$scope.answers[i];
    $scope.information.index=i;
	}

	$scope.back=function(){
		$scope.searchmodal=true;
	}

});

</script>

