{% load staticfiles %}
<html>
<head>
<script src="{% static "js/script.js"%}" charset="utf-8"></script>
<link rel="stylesheet" href="{% static "css/main.css"%}" />
  <link rel="stylesheet" href="{% static "css/foundation.css"%}" />
    <script src="{% static "js/vendor/modernizr.js"%}"></script>
  <script src="{% static "js/vendor/jquery.js"%}"></script>
  <script src="{% static "js/foundation.min.js"%}"></script>
  <script src="{% static "bower_components/angular/angular.js"%}" charset="utf-8"></script>
  </head>
  <body ng-app="jill">

{% verbatim %}

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Jill</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Carl Saldanha</a>
        <ul class="dropdown">
        <li><a href="#">New User</a></li>        
          <li><a href="#">Settings</a></li>
          <li><a href="#">Logout</a></li>
          
        </ul>
      </li>
    </ul>

  </section>
</nav>
<br />


	<div class="large-10 largeg-centered columns" ng-controller="ProjectController"> 
  <div class="">
  <div class="row">
  <div class="large-12 columns">
    <div class="large-12 columns">
    <form novalidate>
    <input type="hidden" ng-model="user_id">
      Add a Project <br />
          <div class="row collapse">
        <div class="small-10 columns">
        <input type="text" ng-model="new_project_name">
        </div>
        <div class='small-2 columns'>
        
        <a  ng-click="addProject()" class='postfix button tiny' >Create</a>
        
        </div>
        </div>
  </form>
    </div>
    <div class="large-12 columns">
    <label> Select a project to start: </label>
       <div class="row" ng-repeat="project in projects">
         <div class="large-3 columns" style="paddding:20px;background:#888">
             {{project_title}}
         </div>
         </div>
       </div>
        
        </div>
      </div>
  </div>
</div>
</div>
</div>


</body>
</html>
{% endverbatim %}

<script type="text/javascript">

var app=angular.module("jill",[]);
app.controller('ProjectController',  function($scope,$http) {
  $scope.new_project_name="";
  $scope.user_id="1";
  $scope.projects=[];

  // var responsePromise = $http({
  //     method: 'get',
  //     url: "",
  //     headers: {'Content-Type':  "application/x-www-form-urlencoded; charset=utf-8"},    
  //     params: {created_by_user:$scope.user_id}
  //   });

  //   responsePromise.success(function(data, status, headers, config)  {
  //     $scope.projects=data;
  //     console.log(data);
  //   });
  //   responsePromise.error(function(data, status, headers, config) {
  //     alert("AJAX failed!");
  // });


  $scope.addToReferences=function(i){
    $scope.references.push($scope.answers[i]);
    console.log($scope.references)
    $('#ask_jill_modal').foundation('reveal', 'close');
  }

  //$scope.papers=papers;
  //Ask Jill
  $scope.searchfunction=function(){
    $scope.search=tinyMCE.activeEditor.selection.getContent();
    $('#ask_jill_modal').foundation('reveal', 'open');
    $scope.searchmodal=true;
    returnAnAnswer('cjds@live.com','1',$scope.search);
  }

  $scope.clickOnPaper=function(i){
    $scope.searchmodal=false; // switching to the details
    
    $scope.information=$scope.answers[i];
    $scope.information.index=i;
  }

  $scope.back=function(){
    $scope.searchmodal=true;
  }

  $scope.addProject=function(){

    var responsePromise = $http({
      method: 'post',
      url: "{% url 'project' %}",
      headers: {'Content-Type':  "application/x-www-form-urlencoded; charset=utf-8"},    
      data: $.param({project_title:$scope.new_project_name,created_by_user:$scope.user_id})
    });

    responsePromise.success(function(data, status, headers, config)  {
      $scope.projects=data;
    });
    responsePromise.error(function(data, status, headers, config) {
      // alert("AJAX failed!");
    });

    // window.alert(" Project Started: " + $scope.new_project_name );
     window.location = "{% url 'currentProject' %}";

  }

});

</script>
