.column1{
	width: 74%;
	display: inline-block;
}

.column2{
	width: 24%;
	display: inline-block;
}

body {
  background: #F0F0F3;
}
.login-box {
  background: #fff;
  border: 1px solid #ddd; 
  margin: 50px 0;
  padding: 0px 20px 0 20px;
}

.login-box img{
	padding: 5px 5px 5px 5px;
}